//- header.pug
header(class='header' role='')
  div(class='container')
    div(class='header__inner')
      button(class='header__back-btn' role="button" aria-label='Back button')
        i(class='arrow arrow--left arrow--white')
        span Back
      h1(class='header__title') Hotel Details
      a(class='header__logo' href="/")
