//- hotel.pug

div(class='hotel')
  div(class='hotel__img')
    img(src='./img/hotelexterior.jpg' alt='Hilton Chicago' title='Hilton Chicago')
  address(class='hotel__address')
    h2(class='hotel__name') Hilton Chicago
    span 720 South Michigan Avenue
    span Chicago, Illinois, 60605
    span
      a(href='tel:1-312-922-4400') 1-312-922-4400
