//- nav.pug

nav(class='nav' role='navigation' aria-label='Main navigation')
  ul(class='nav__items')
    li(class='nav__item')
      a(href='#') 
        span Map
        i(class='arrow arrow--right arrow--gray')
    li(class='nav__item')
      a(href='#')
        span Photo gallery
        i(class='arrow arrow--right arrow--gray')
    li(class='nav__item')
      a(href='#')
        span Amenities
        i(class='arrow arrow--right arrow--gray')
