//- layout.pug
doctype html
html(lang='en-us')
  include includes/head.pug
  body
    include includes/header.pug
    main(class='main' role='main')
      block content
    include includes/footer.pug
