.nav {
  padding: 16px 0;

  @media #{$sm} {
    padding: 40px 0;
  }
}

.nav__items {
  display: flex;
  flex-direction: column;
  width: 100%;
  //background-color: $white;
  list-style: none;
}

.nav__item {
  display: flex;
}

.nav__item a {
  display: flex;
  align-items: center;
  width: 100%;
  color: #001325;
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  text-decoration: none;
  background: linear-gradient(180deg, #e9ebee 0%, #c1ceda 100%);
  border: 1px solid $white;
  padding: 14px 16px;

  &:hover {
    background: linear-gradient(180deg, #c1ceda 0%, #e9ebee 100%);
  }

  @media #{$sm} {
    font-size: 32px;
    padding: 28px;
    border-width: 2px;
  }
}

.nav__item {
  &:first-child a {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    @media #{$sm} {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  &:last-child a {
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    @media #{$sm} {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.nav__item a span {
  flex: 1;
}
